body{
  overflow-x: hidden;
  position: relative;
  background-color: #e9eefc;

}

.l-wrapper{
  width:100%;
  height: 100%;
  position: relative;
  
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

