
 .menu{
   padding: 10px 20px;
   cursor:pointer;
   background-color: #ccc;
   &:hover{
     opacity:.5;
   }
  
}

.close-icon{
  text-align: right;
  font-size: 35px;
  line-height: 35px;
   cursor:pointer;
   margin-left: 50px;
   display: inline-block;

    &:hover{
    opacity:.5;
  }

}

.cart{
  cursor:pointer;
  background-color: #ccc;
  padding: 10px 20px;

  &:hover{
    opacity:.5;
}

}