@use "import";

 .menu{
   padding: 10px 20px;
   cursor:pointer;
   &:hover{
     opacity:.5;
   }
  
}

.close-icon{
  font-size: 35px;
  line-height: 35px;
  margin-top: 5px;
  padding-bottom: 10px;
   cursor:pointer;
   padding-left: 22%;
   display: block;
   color: black;

    &:hover{
    opacity:.5;
  }
 @include import.mq(sp) {
      margin:0;
      padding-left: 15%;
  }
}

.cart{
  cursor:pointer;
  padding: 10px 20px;

  &:hover{
    opacity:.5;
}

}

main{
position: relative;

.share__top{
  font-style: italic;
  color: azure;
  opacity: .8;
  position: absolute;
  top: -280px;
  left:-120px;
  display: flex;
  transform: rotate(-90deg);
  filter: drop-shadow(6px 6px 6px rgb(255, 50, 111));
  @include import.mq(sp) {
      top:-200px;
      left:-80px;
      font-size: 10px;
  }
  li{
    padding:0 10px;
  }
  li:nth-child(2){
    transform:rotate(90deg);
    cursor: pointer;
    font-size: 30px;
    padding-right:30px;
  @include import.mq(sp) {
      font-size: 26px;
  }
  }
  
}
// .share{
//   font-style: italic;
//   color: azure;
//   opacity: .8;
//   position: absolute;
//   top: 70px;
//   left:-120px;
//   display: flex;
//   transform: rotate(-90deg);
//   filter: drop-shadow(6px 6px 6px rgb(255, 50, 111));
//   @include import.mq(sp) {
//       top:-200px;
//       left:-80px;
//       font-size: 10px;
//   }
//   li{
//     padding:0 10px;
//   }
//   li:nth-child(2){
//     transform:rotate(90deg);
//     cursor: pointer;
//     font-size: 30px;
//     padding-right:30px;
//   @include import.mq(sp) {
//       font-size: 26px;
//   }
//   }
  
// }

}

/* soceerball */
//  .ball-box {
//   position: relative;
//   height: 100px;
 
  .l_pagetop{
    position: fixed;
    bottom:50px;
    right:0;
    
    .pagetop{
      text-decoration:none;
      color:#333;
      display:block;
      position: relative;
      transition: .3s opacity;
      cursor: pointer;
      z-index: 20;
      height:50px;
      width:70px;
    }


    .pagetop_ball{
      position: absolute;
      top: 50%;
      left: 50%;
      width:50px;
      height:50px;
      background-image: url("../image/soccerball.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
        background-position-x: center;
        background-position-y: center;
      transform:rotate(0);
      animation: roll-r 14s linear infinite;
        animation-duration: 14s;
        animation-timing-function:linear;
        animation-delay: 0s;
        animation-iteration-count:infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: roll-r;
      z-index: 100;
    }
    
    @keyframes roll-r {
     from{
       transform: translate(-50%,-50%) rotate(0);
     }
     to {
       transform: translate(-50%,-50%) rotate(
    360deg
    );
     }
    }
  }

  .c-detail{
    position: absolute;
    left:0;
    top:100px;
    padding:5px 15px;
    font-size: 20px;
    display: block;
    background-color: #4158D0;
    background-image: linear-gradient(135deg, #4158D0 0%, #C850C0 22%, #FFCC70 49%, #c850c0 75%, #4158d0 100%);
    color: black;
    border:1px solid black;
    cursor: pointer;
    border-radius: 9999px;
    @include import.mq(sp) {
      position:static;
      padding:10px 5px;
      width: 30%;
      margin: 0 auto;
      
      }
    &:hover{
      opacity: .5;
    }
  }
  .c-detail__blog{
  display: inline-block;
  padding:10px 25px;
  background-color: #4158D0;
  background-image: linear-gradient(135deg, #4158D0 0%, #C850C0 22%, #FFCC70 49%, #c850c0 75%, #4158d0 100%);
  color: black;
  border:1px solid black;
  cursor: pointer;
  border-radius: 9999px;
  @include import.mq(pc) {
      left:35%;
      top:0;
      padding:15px 40px;
      font-size: 20px;
    }
    &:hover{
      opacity: .5;
    }
}



