@use "./import";



.footer{
  margin: 0 38px;
  background: #333;
  padding: 20px 0;

  a{
    cursor:pointer;
    background-color: #ccc;
    padding: 10px 20px;
    &:hover{
      opacity:.5;
    }
  }
  ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
 

  li{
    margin: 20px 10px;
  }
  
}
}
