.video-container{
  height:600px;
  .video{
    width:100%;
    height:auto;
    position: absolute;
    z-index: -100;
}
}


.p-archive-main{

.main-penne{
  width:33%;
}

h1{
  width:33%;
  line-height:auto;
}

.main-penta{
  width:33%;
}

}