@use "import";

header{
  background-color: #0c1cbd;
background-image: linear-gradient(135deg, #0c1cbd 0%, #6894dc 50%, #2536a0 100%);
  padding: 0 38px;
  width:100%;
  height: auto;
  position: fixed;
  z-index: 100;
  display: block;
  // &.active{
  //   display: none;
  // }
    @include import.mq(sp) {
      height:40px;

     }
  
  .header-sp-menu{
    ul{
    display: none;
     @include import.mq(sp) {
      display: flex;
      justify-content:space-around;

     }
     
    .box{
       padding:5px 20px;
       display: block;
       color:#ccc;
      font-size:16px;
      }

      .box:hover{
         color:white;
      }
    }
  }

  

  .header-menu{

  
  ul{
    display: flex;
    justify-content: space-between;
    padding: 5px 18px;
    @include import.mq(sp) {
      display: none;
    }

    
 
   .title{
    cursor: pointer;
    display: block;
    color:#ccc;
    padding: 10px 0;
  }
  .box{
    font-size:16px;
  }

  .box:hover{
     color:white;
     
}
   
}

  }

  
}


.fadeup{
  animation-name: fadeUpAnime;
  animation-duration:.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes  fadeUpAnime{
  0% {
      opacity: 0;
      transform:translateY(-100px)
    }
    100% {
      opacity: 1;
      transform:translateY(0);
    }
}

.delay-time01{
  animation-delay: .5s;
}
.delay-time02{
  animation-delay: .8s;
}






