@use "import";

header{
 
//   background-color: #4158D0;
// background-image: linear-gradient(111deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 22%, #FFCC70 49%, #c850c0 75%, #4158d0 100%);
  padding: 0 38px;
  width:100%;
  height: auto;
  position: fixed;
  z-index: 100;
  display: block;
  
 
  .header-sp-menu{
    ul{
    display: none;
     @include import.mq(sp) {
      display: flex;
      justify-content:space-around;

     }
     
    .box{
       padding:5px 20px;
       display: block;
       color:black;
      font-size:16px;
      font-style: italic;
    }
    
    .box:hover{
      color:black;
      opacity: .5;
      }
    }
  }

  

  .header-menu{

  
  ul{
    display: flex;
    justify-content: space-between;
    padding: 5px 18px;
    @include import.mq(sp) {
      display: none;
    }

    
 
   .title{
    cursor: pointer;
    display: block;
    color:black;
    font-style: italic;
    padding: 10px 0;
  }
  .box{
    font-size:16px;
  }
  
  .box:hover{
    color:black;
    opacity: .5;
     
}
   
}

  }

  
}


// .fadeup{
//   animation-name: fadeUpAnime;
//   animation-duration:.5s;
//   animation-fill-mode: forwards;
//   opacity: 0;
// }

// @keyframes  fadeUpAnime{
//   0% {
//       opacity: 0;
//       transform:translateY(-100px)
//     }
//     100% {
//       opacity: 1;
//       transform:translateY(0);
//     }
// }

// .delay-time01{
//   animation-delay: .5s;
// }
// .delay-time02{
//   animation-delay: .8s;
// }






