header{
  border: 1px solid blue;
  
  ul{
    display: flex;
    justify-content: space-between;
    margin: 25px 38px;

 
  .title{
    background-color: #ccc;
    display: block;
    color: black;
    padding: 10px 20px;
     &:hover{
        opacity:.5;
}
   
  }

  }

  
}