@use "import";

.wp-block-create-block-gutenpride {
  color: black;
}

.video-container {
  padding-top: 50px;
  height: 600px;
  margin-bottom: 20px;
  @include import.mq(sp) {
    height: 400px;
    padding-top: 40px;
  }
  .video {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
}

.p-main-title__video {
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: black;
  margin: 0 auto;

  h1 {
    font-style: italic;
    padding-top: 35px;
    color: #fff;
    text-align: center;
    // padding-left:38px;
    // padding-right: 38px;
    @include import.mq(sp) {
      padding-top: 20px;
      font-size: 16px;
    }
  }
}

.p-main-title {
  width: 100%;
  margin: 0 auto;
  padding: 45px 0 25px;
  background-color: black;
  margin-bottom: 50px;
  @include import.mq(sp) {
    padding: 20px 0 20px;
    margin-bottom: 50px;
  }

  h1 {
    font-style: italic;
    padding-top: 40px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    padding-left: 38px;
    padding-right: 38px;
    @include import.mq(sp) {
      padding-top: 30px;
    }
  }
}
.p-main-title__woo {
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  // background-color: #A7B05A;
  background-color: black;
  margin: 0 auto;
  padding: 45px 0 25px;

  h1 {
    font-style: italic;
    padding-top: 35px;
    color: #fff;
    text-align: center;
    padding-left: 38px;
    padding-right: 38px;
    @include import.mq(sp) {
      padding-top: 20px;
      font-size: 16px;
    }
  }
}

.blur {
  animation-name: blurAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
  }
  to {
    filter: blur(0);
    transform: scale(1);
  }
}

.l-main-container {
  margin: 0 38px 17px;

  form {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    @include import.mq(sp) {
      margin-left: 0;
    }

    .input-border {
      border: 1px solid #707070;
      display: inline-block;
      background: #fff url("../image/la-search@2x.png") no-repeat 12px center;
      background-size: 20px 20px;
      height: 50px;
      width: 400px;
      border-radius: 5px;
      margin-right: 12px;
      position: relative;

      @include import.mq(sp) {
        width: 200px;
      }

      input {
        position: absolute;
        top: 1;
        left: 40px;
        height: 46px;
        width: 350px;

        @include import.mq(sp) {
          width: 160px;
        }
      }
    }

    button {
      font-size: 16px;
      line-height: 16px;
      padding-right: 20px;
      padding-left: 20px;
      background-color: #fff;
      color: #707070;
      border: 1px solid #707070;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  div {
    text-align: center;
  }

  .back-img {
    background: url("../image/penguin.jpg") no-repeat center;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 30px 0;
  }

  .p-main-special {
    font-size: 20px;
    margin: 30px 0;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }

    a {
      display: block;
      background-color: #66df72;
      padding: 20px 50px;
      color: #fff;
      font-weight: bold;
      border-radius: 9999px;
    }
  }

  .p-new-box {
    height: auto;
    h2 {
      text-align: left;
      margin: 25px 0 0;
      font-style: italic;
      color: rgba(183, 0, 255, 0.8);
      position: relative;
      padding: 1rem 1rem;
      font-size: 40px;
      @include import.mq(sp) {
        font-size: 30px;
      }
    }

    h2:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 280px;
      height: 10px;
      content: "";
      background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
      backface-visibility: hidden;
      @include import.mq(sp) {
        width: 210px;
      }
    }
  }
}

.center {
  margin-left: 38px;
  margin-right: 38px;
  padding: 30px 0;

  a {
    display: block;
    margin-right: 20px;
  }
  .wp-post-image {
    width: 100%;
    height: 150px;
    object-position: cover;
    object-fit: cover;

    @include import.mq(sp) {
      width: 100%;
      height: 100px;
    }

    //   .p-top-img{

    //     background-size: cover;
    //     height:300px;;
    //     width:100%;

    //     margin-bottom: 60px;
    //     margin-top: 20px;;

    @include import.mq(pc) {
      width: 100%;
      height: 200px;
      overflow: hidden;
    }
  }
  h1 {
    position: absolute;
    color: #333;
    padding-top: 170px;
    margin-left: 85px;
    font-size: 36px;
  }

  ul.slick-dots {
    margin-bottom: 50px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: #333;
    font-size: 20px;
  }
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -35px;
  }
}

// .p-item-box{
//   width:100%;
//   height:auto;
//   margin-top: 50px;
//   margin-bottom: 50px;
//   .slick-container-item{
//     width:50%;
//   }
//   .slider-for {
//     img {
//       height:200px;
//       width: 50%;
//       margin: 0 auto;
//       cursor: pointer;
//     }
//   }
//   .slider-nav {

//     margin-top:20px;
//   li{
//     padding:0 20px;

//   }
//   img {
//     height: 70px;
//     width: 70px;
//     cursor: pointer;
//   }
// }
// }

/*コンタクトフォーム7用のcss*/
.l-contact {
  padding: 60px 60px 100px 60px;
  margin: 0 auto;
  @include import.mq(sp) {
    padding: 50px 10px;
  }
  p.contact-text {
    text-align: center;
    margin-bottom: 80px;
  }

  .wpcf7-form {
    margin: 0 auto;
  }

  p {
    text-align: left;
  }

  /* Contact Form 7 */
  /* 必須マーク */
  .must {
    color: #fff;
    margin-right: 10px;
    padding: 6px 10px;
    background: #f58694; /* 背景色 */
    border-radius: 5px;
  }

  /* 任意マーク */
  .free {
    color: #fff;
    margin-right: 10px;
    padding: 6px 10px;
    background: #7fbfff; /* 背景色 */
    border-radius: 5px;
  }

  form {
    width: 60%;
    @include import.mq(sp) {
      width: 100%;
    }
  }
  /* 項目名を太字にする */
  form p {
    font-weight: 300;
  }

  /* 入力項目を見やすくする */
  input.wpcf7-form-control.wpcf7-text,
  textarea.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    padding: 8px 15px;
    margin: 10px auto;
    border: 1px solid #d0d5d8; /* 枠線の色 */
    border-radius: 3px;
  }
  textarea.wpcf7-form-control.wpcf7-textarea {
    height: 200px;
  }

  /* 必須項目の入力欄を見やすくする */
  input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required,
  .wpcf7-textarea {
    background: #eff1f5; /* 背景色 */
  }

  /* 送信ボタンを見やすくする */
  input.wpcf7-submit {
    width: 100%; /* 好みで60〜80%でもOK */
    height: 60px;
    border-color: #ffbf7f; /* 枠線の色 */
    background: #ffbf7f; /* ボタンの色 */
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 2px;
    text-align: center;
    margin-left: 0;
  }

  /* エラーメッセージを見やすくする */
  span.wpcf7-not-valid-tip,
  .wpcf7-response-output.wpcf7-validation-errors {
    color: red;
    font-weight: 600;
  }
  span.wpcf7-spinner {
    display: none;
  }
}
