@use "import";

body{
background-color: rgb(233, 238, 252);
}

.video-container{
  padding-top: 50px;
  height:600px;
  margin-bottom: 20px;
   @include import.mq(sp) {
      height:400px;
      padding-top: 40px;
}
 .p-main-title{
  
  top:0;
  left:0;
  width:100%;
  height:20%;
  background-color: #8EC5FC;
background-image: linear-gradient(315deg, #8EC5FC 0%, #b3d7f1 24%, #ffffff 49%, #cce7f5 75%, #99afe2 100%);
  margin: 0 auto;

  h1{
    font-style: italic;
    padding-top:35px;
     color: #ccc;
    text-align: center;
    padding-left:38px;
    padding-right: 38px;
     @include import.mq(sp) {
    padding-top:20px;
    font-size: 16px;
   
     }
  }
}

.blur{
  animation-name: blurAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes blurAnime{
  from{
    filter: blur(10px);
    transform: scale(1.02);
  }
  to{
    filter: blur(0);
    transform: scale(1);
  }
}

  .video{
    width:100%;
    height:80%;
    object-fit: cover;
   
}
}

.l-main-container{
  margin: 0 38px 17px;

  form{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    @include import.mq(sp) {
     margin-left:0;
}


  .input-border{
    border: 1px solid #707070;
    display: inline-block;
    background: #fff url("../image/la-search@2x.png") no-repeat 12px center;
    background-size: 20px 20px;
    height: 50px;
    width:400px;
    border-radius: 5px;
    margin-right:12px;
    position: relative;

    @include import.mq(sp) {
      width:200px
}

    input{
      position:absolute;
      top: 1;
      left: 40px;
      height: 46px;
      width: 350px;
      

       @include import.mq(sp) {
        width:160px
       }
  }

}

button{
  font-size: 16px;
  line-height: 16px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
  color:#707070;
  border: 1px solid #707070;
  border-radius: 5px;
  cursor: pointer;
  
}
}


div{
  text-align: center;
}


  .back-img
  {
  background: url("../image/penguin.jpg") no-repeat center;
  width:100%;
  height:50vh;
  background-size: cover;
  background-attachment: fixed;
  margin: 30px 0;
  }


.p-main-special{
  font-size: 20px;
 
  border: 1px solid green;
  cursor: pointer;
   &:hover{
        opacity:.5;
}

a{
  display: block;
   padding: 20px 50px;
   color: rgb(119, 110, 110);
   font-weight: bold;
 
}
}

.p-new-box{
  height: auto;
h2{
  text-align: left;
  margin:25px 0 0;
  font-style: italic;
  color:rgba(183, 0, 255, 0.8);
  position: relative;
  padding: 1rem 1rem ;
  font-size: 40px;
  @include import.mq(sp) {
  font-size:30px;
  }
}

h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 10px;
  content: '';
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  backface-visibility: hidden;
  @include import.mq(sp) {
  width: 210px;
  }
}
}
}



.center
{
  margin-left: 38px;
   margin-right: 38px;

  .slick-slide{
    margin-right:20px;
  
  .p-top-img{
    
    background-size: cover;
    height:auto;
    width:100%;
    object-position: cover;
    object-fit: cover;
    margin-bottom: 60px;
    margin-top: 20px;;
   
@include import.mq(pc) {
    width:100%;
    height: auto;
    overflow: hidden;
}
  
  h1{
    position: absolute;
    color: #333;
    padding-top:170px;
    margin-left: 85px;
    font-size: 36px;
 
}
  }
  
  ul.slick-dots{
    margin-bottom: 50px;
  }
}
.slick-prev:before,
.slick-next:before{
  color:#333;
  font-size: 20px;
}
.slick-prev{
  left:-35px;
}
.slick-next{
  right:-35px;
}

}

.p-item-box{
  width:100%;
  height:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  .slick-container-item{
    width:50%;
  }
  .slider-for {
    img {
      height:200px;
      width: 50%;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .slider-nav {
   
    margin-top:20px;
  li{
    padding:0 20px;

  }
  img {
    height: 70px;
    width: 70px;
    cursor: pointer;
  }
}
}