
  .p-goods{
    width:100%;
    gap:33px;
    height: auto;
    display: flex;
    padding:20px 0;
    margin: 20px auto;
    border: 1px solid limegreen;

  .p-each-goods{
    width:calc((100% - 99px) / 4 );
    height: auto;
    border: 1px solid yellow;

  .goods-img{
    width:100%;
    
  }
}
}

.js-api{
  opacity: 0;
  transform:translateY(20px);
  
}

.js-api.appear{
  animation-name: sample-animation;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes  sample-animation{
  0% {
      opacity: 0;
      transform:translateY(20px)
    }
    100% {
      opacity: 1;
      transform:translateY(0);
    }
}

.delay-time03{
  animation-delay: .5s;
}
.delay-time04{
  animation-delay: 1s;
}
.delay-time05{
  animation-delay: 1.5s;
}
.delay-time06{
  animation-delay: 2s;
}