@use "./import";

// .sidebar-mask{
//   position: absolute;
//   background-color: #707070;

//   top:0;
//   right:0;
//   z-index: 100;
//   width:30%;
//   height: 100%;
//   opacity:0;
//   pointer-events: none;

//      @include import.mq(sp) {
//       display: none;
// }

//   &.active{
//     opacity:.8;
//     animation: 0.8s fadeIn;
           

//           @keyframes fadeIn {
//             0% {
//               opacity: 0;
//             }
//             100% {
//               opacity: .8;
//             }
//           }
//         }
//       }
      
.sidebar-container{
  position: absolute;
  top: 0;
  right: 0;
  width:100%;
  height: 100%;
  background-color: #88c0f4;
  transform: translateX(-100%);
  pointer-events: none;

   @include import.mq(sp) {
      width:100%;
}

  &.active{
    pointer-events: auto;
    transform: translateX(0px);
    animation: 0.8s translateX;
  }

 @keyframes translateX{
   0%{
      transform: translateX(-100%);
   }
   100%{
     transform: translateX(0px);
   }
  }

  .sidebar-top{
    margin: 30px 25px;

  form{
    margin-top: 13px;
    display: flex;
    justify-content: center;


  .input-border{
    border: 1px solid #707070;
    display: inline-block;
    background: #fff url("../image/la-search@2x.png") no-repeat 12px center;
    background-size: 20px 20px;
    height: 35px;
    width:400px;
    border-radius: 5px;
    margin-right:12px;
    position: relative;

    @include import.mq(sp) {
      width:200px
}

    input{
      position:absolute;
      left: 35px;
      height: 46px;
      width: 200px;
  }
}
button{
  font-size: 16px;
  line-height: 16px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  color:#707070;
  border: 1px solid #707070;
  border-radius: 5px;
  cursor: pointer;
}
  
}
}
.sidebar-accordion{
 padding: 0 38px;
}

.accordion-area{
  list-style: none;
  margin: 0 auto;
  
  max-width: 1200px;
  background: #fff;
 
}

.accordion-area li{
  margin: 10px 0;
}

// .accordion-area section{
//   border: 1px solid #ccc;
// }

.title{
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding-left: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all .5s ease;

  &:hover{
    background: #BADAF7;
  }
}



.title::before,
.title::after{
  position: absolute;
  content:"";
  width:15px;
  height:2px;
  background-color: #333;
}

.title::before{
  top:48%;
  left:15px;
  transform: rotate(0deg);
}

.title::after{
  top:48%;
  left:15px;
  transform: rotate(90deg);
}

.title.close::before{
  transform: rotate(45deg);
}

.title.close::after{
  transform: rotate(-45deg);
}

.box {
  display: none;
 
p{
  padding-left: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

  p:hover{
    background: #D2E6F7;
  }
}



}
