@use "import";


.sidebar-container{

  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width:100%;
  height: 100%;
   background-color: #4158D0;
background-image: linear-gradient(111deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  transform: translateX(-100%);
  pointer-events: none;

   @include import.mq(sp) {
      width:100%;
      height: 100%;
}

  &.active{
    pointer-events: auto;
    transform: translateX(0px);
    animation: 0.8s translateX;
  }

 @keyframes translateX{
   0%{
      transform: translateX(-100%);
   }
   100%{
     transform: translateX(0px);
   }
  }

  .sidebar-top{
    margin: 0 25px 10px;

  form{
    margin-top: 13px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    @include import.mq(sp) {
      margin-left:20px;
}


  .input-border{
    border: 1px solid #707070;
    display: inline-block;
    background: #fff url("../image/la-search@2x.png") no-repeat 12px center;
    background-size: 20px 20px;
    height: 35px;
    width:400px;
    border-radius: 5px;
    margin-right:12px;
    position: relative;

    @include import.mq(sp) {
      width:200px
}

    input{
      position:absolute;
      top: -5px;
      left: 40px;
      height: 46px;
      width: 400px;

       @include import.mq(sp) {
      width:200px
       }
  }
}
button{
  font-size: 16px;
  line-height: 16px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  color:#707070;
  border: 1px solid #707070;
  border-radius: 5px;
  cursor: pointer;
}
  
}
}
.sidebar-accordion{
 padding: 0 38px;
 height: auto;
}

.accordion-area{
  list-style: none;
  margin: 0 auto;
  max-width: 1200px;
 background-color: #4158D0;
background-image: linear-gradient(222deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

  height: auto;
 
}

.accordion-area li{
  margin: 10px 0;
  font-style: italic;
  color:black;
}

// .accordion-area section{
//   border: 1px solid #ccc;
// }

.title{
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding-left: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all .5s ease;

  &:hover{
    opacity: .8;
    background: #fff;
  }
}



.title::before,
.title::after{
  position: absolute;
  content:"";
  width:15px;
  height:2px;
  background-color: #333;
}

.title::before{
  top:48%;
  left:15px;
  transform: rotate(0deg);
}

.title::after{
  top:48%;
  left:15px;
  transform: rotate(90deg);
}

.title.close::before{
  transform: rotate(45deg);
}

.title.close::after{
  transform: rotate(-45deg);
}

.box {
  display: none;
 
p{
  padding-left: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;

  a{
    color:black;
  }
}

  p:hover{
    opacity: .8;
    background: #ccc;
  }
}



}
